$main-color: #c93429;
$body-bg: #fff;
$second-bg: #f5f5f5;
$text-color: #000;
$text-white: #fff;
$text-gray: #868686;
$main-hover: #9b2d25;

$section-space: 100px;
$nav-size: 70px;
$logo-size: 45px;
$banner-height: 400px;
$position: -58px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Antonio", sans-serif;
  background-color: $body-bg;
  padding-top: $nav-size;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: unset;
  text-decoration: none;
  display: inline-block;
}

.main-color {
  color: $main-color;
}

.btn {
  padding: 0.5rem 1.5rem;
  background-color: $main-color;
  color: $text-white;
  font-size: 1rem;
  text-transform: uppercase;
  &:hover {
    background-color: $main-hover;
  }
}

.btn-lg {
  padding: 1rem 3.5rem;
  font-size: 1.5rem;
}

//NAV
.nav-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $body-bg;

  .container-fluid {
    padding: 0 30px;

    .nav {
      position: relative;
      height: $nav-size;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo h1 {
        color: $main-color;
        height: $logo-size;
      }

      .nav-menu {
        list-style-type: none;
        display: flex;
        align-items: center;

        li {
          margin-left: 20px;

          a {
            font-size: 1.25rem;
            text-transform: uppercase;
            pointer-events: visible;
            &:hover {
              color: $main-color;
            }
          }
        }

        &.menu-main {
          position: absolute;
          left: 0;
          width: 100%;
          justify-content: center;
          height: $nav-size;
          pointer-events: none;
        }
      }
    }
  }
}

//HERO
.hero-section {
  height: calc(100vh - $nav-size);

  .row .col-4 .col-8 {
    height: 100%;
  }

  .slide-info-wrapper {
    position: relative;
    display: grid;
    place-items: center;
    height: 100%;

    .slide-info {
      overflow: visible;
      position: absolute;
      left: 200px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      > div {
        overflow: hidden;
      }

      .slide-name {
        white-space: nowrap;
        h3 {
          font-size: 5rem;
          font-weight: 900;
          margin-bottom: 90px;
        }
      }

      .slide-description {
        margin-bottom: 90px;
      }
    }
  }
  .top-down {
    transform: translateY(-200px);
    transition: transform 0.5s ease-in-out;
  }
  .slide-info.active .top-down {
    transform: translateY(0);
  }
  .delay-2 {
    transition-delay: 0.2s;
  }
  .delay-4 {
    transition-delay: 0.4s;
  }
  .delay-6 {
    transition-delay: 0.6s;
  }

  .slide-img-col {
    position: relative;
    background-color: $second-bg;

    .slide-img-wrapper {
      display: grid;
      height: 100%;
      place-items: center;

      .slide-img {
        height: 700px;
        width: 700px;
        overflow: hidden;
        img {
          max-width: 100%;
          height: 100%;
        }
      }
    }
  }

  .hero-slide-toggle {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $body-bg;
    display: flex;
    padding: 20px;
    font-size: 2rem;

    .hero-slide-index {
      margin: 0 30px;
    }

    .hero-slide-toggle-prev,
    .hero-slide-toggle-next {
      cursor: pointer;
      &:hover {
        color: $main-color;
      }
    }
  }
}

//Section
.section {
  padding-top: $section-space;
}

//BANNER
.banner {
  height: $banner-height;
  overflow: hidden;
  position: relative;
  margin-top: 20px;

  .banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 1s ease 0s;
  }
  &:hover .banner-bg {
    transform: scale(1.2);
  }

  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .banner-text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $text-white;
    padding: 20px;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
}

//NEW ARRIVAL
.section-header {
  margin-bottom: 80px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.products-slide {
  padding: 0 40px;

  .product {
    &:hover .product-action > * {
      transform: translateY(0);
    }
    .product-img {
      background-color: $second-bg;
      position: relative;

      .product-action {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        overflow: hidden;
        > * {
          transform: translateY(-100%);
          transition: transform 0.4s ease 0s;
        }
      }
      &:hover .product-action > * {
        transform: translateY(0);
      }
    }

    .product-info {
      padding: 0 15px;
      > div {
        padding-top: 15px;
      }

      .product-brand {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $text-gray;
      }

      .product-name {
        font-size: 1.25rem;
      }
    }
  }
}

//Arrow
.glide {
  position: relative;
}

.glide__arrows {
  width: 100%;
}

.glide__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 3.5rem;
  color: $text-gray;
  margin: 0 15px;
  &:hover {
    color: $main-color;
  }
  &.glide__arrow--left {
    left: $position;
  }
  &.glide__arrow--right {
    right: $position;
  }
}

//SPECIAL
.section-special {
  margin: 100px 0 250px;
  &.bg-fixed {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .bg-main {
    background-color: $body-bg;

    .special-product {
      padding: 0 80px;
      margin-top: 30px;

      > {
        * {
          margin-top: 30px;
        }
        span {
          text-transform: uppercase;
        }
        h2 {
          font-size: 3rem;
          text-transform: uppercase;
        }
        p {
          color: $text-gray;
        }
      }

      .special-product-img {
        width: 100%;
        padding-top: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: -250px;
        margin-top: 80px;
      }
    }
  }
}
